
.produktPhotoConfiguratorContainer{
    width: 80%;
    margin: 0 auto;
    background: pink;
}
.configuratorContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.productImg{
    width: 70%;
    height: 600px;
    background: whitesmoke;
    position: relative;
}
.productImg img{
    width: 99%;
    height: 99%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.35s ease-in-out;
}
.productSettingsContainer{
    /* background: blue; */
    width: 30%;
    display: flex;
    justify-content: center;
    /* height: 99%; */
}
.transparentBg{
    opacity: 0;
}
